/* SasView style sheet */
/* Version 1.0       */
body { 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    color: #484848;
    width:800px;
    /* margin: top right bottom left */
    margin: 10px auto 10px auto; 
    border-top: 1px solid silver;
    }

a:visited, a:link, a:active, a:visited { 
    text-decoration: none; 
    color: blue;
    }

h2 {
    margin-top: 30px;
}

h3 {
    margin-top: 30px;
}

a:hover {
    text-decoration: underline;
    color:blue;
}

#textContainer {
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 20px;
    text-align: justify;
}

#menuItem {
    border-bottom: 1px solid silver; 
    font-size:14px; 
    margin-bottom: 20px;
    padding-left:7px;
}

#menuItem a:link, #menuItem a:visited{
    line-height: 25px; 
    margin-right: 6px;
    padding-right: 7px;
    color: #484848;;
}

#menuItem a:hover{
    color: blue;
}

#floaterLeft { 
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-right:20px;
    /* margin-right:10px;*/
    float: left;
    }
    

#floaterLeft img {
    border:0;
    align:top;
}    

#floaterRight { 
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-left:20px;
    /* margin-right:10px;*/
    float: right;
    }
    

#floaterRight img {
    border:0;
    align:top;
}    
    

#textContainer ul {
    list-style: list-style-type;
    list-style-type: square;
}

#textContainer li {
    line-height: 14px; 
    padding-top: 5px; 
    margin-bottom: 5px;
}

#pageHeader { 
    height: 76px;
    padding-left:20px;
    font: normal 10pt/22pt Arial; 
    padding-top:4px;
    border-bottom: 1px solid gray; 
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    background: transparent url(../media/sasview_banner.gif) no-repeat top left; 
}

#pageHeader img {
    border:0;
    float: left;
    margin-left: 10px;
    margin-right: 1em;
    margin-top: 7px;
}

#mainTitle { 
    font: normal 15pt/22pt Arial; 
    font-size:25px; 
    margin-bottom: -6px;
    padding-top: 10px; 
    }

#subTitle { 
    font-size:13px; 
    font-weight:normal;
    margin-top: 0px;     
    }

#footer {
    color: #75818a;
    font-size: 11px;
    clear: both;
    height: 50px;
    margin: 0;
    border-top: 1px solid silver;
    border-bottom: 0;
}

#footerImages {
    padding-right:1em;
}

#footerImages img {
    float: right;
    margin:0;
    margin-top:5px;
    margin-left:3px;
    padding-left:3px;
    padding-right:3px;
    border:0;
    align:top;
    height:33px;
    width:auto;
}

#footerText {
    margin-left: 1em;
    margin-right:10px;
    margin-bottom: 0.ex;
    margin-top: 30px;
    text-align: left;
}
