---
layout: page
title: SasView
subtitle: SasView for Small Angle Scattering Analysis
use-site-title: true
bigimg:
  - "/img/sasview_init.jpg"
---

<!-- Just one box for 5 but with link to 4 -->
<h3 class="text-center">Download The Latest Release Version of SasView</h3>
<div class="row">  
  <div class="col-sm-6">
    <div class="jumbotron">
      <h3 class="text-center">Version 5</h3>
      {% for post in site.posts %}
        {% if post.tags contains "release" %}
          {% assign versionSplitted = post.title | remove: "Version " | split: "." %}
          {% if versionSplitted[0] == "5" %}
            {% assign post_title = post.title | split: ' ' %}
            <p class="text-center"><a class="btn btn-primary btn-lg" href="https://github.com/SasView/sasview/releases/tag/v{{post_title[-1]}}" role="button">
              Download {{ post.title }}</a></p>
            <p class="text-center">Released on {{ post.date | date: "%B %-d, %Y" }}. 
              <br/>
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">See what's new!</a></p>          
            {% break %}
          {% endif %}  
        {% endif %}
      {% endfor %}

      {% for post in site.posts %}
        {% if post.tags contains "release" %}
          {% assign versionSplitted = post.title | remove: "Version " | split: "." %}
          {% if versionSplitted[0] == "4" %}
            {% assign post_title = post.title | split: ' ' %}
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Looking for Version 4?</a></p>
            {% break %}
          {% endif %}  
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>

<!-- The new 2 box version 4 and 5 Download -->
<!--
<h3 class="text-center">Download The Latest Release Version of SasView</h3>
<div class="row">  
  <div class="col-sm-6">
    <div class="jumbotron">
      <h3 class="text-center">Version 4</h3>
      {% for post in site.posts %}
        {% if post.tags contains "release" %}
          {% assign versionSplitted = post.title | remove: "Version " | split: "." %}
          {% if versionSplitted[0] == "4" %}
            {% assign post_title = post.title | split: ' ' %}
            <p class="text-center"><a class="btn btn-primary btn-lg" href="https://github.com/SasView/sasview/releases/tag/v{{post_title[-1]}}" role="button">
              Download {{ post.title }}</a></p>
            <p class="text-center">Released on {{ post.date | date: "%B %-d, %Y" }}. 
              <br/>
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Important Message!</a></p>
            {% break %}
          {% endif %}  
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-6">
    <div class="jumbotron">
      <h3 class="text-center">Version 5</h3>
      {% for post in site.posts %}
        {% if post.tags contains "release" %}
          {% assign versionSplitted = post.title | remove: "Version " | split: "." %}
          {% if versionSplitted[0] == "5" %}
            {% assign post_title = post.title | split: ' ' %}
            <p class="text-center"><a class="btn btn-primary btn-lg" href="https://github.com/SasView/sasview/releases/tag/v{{post_title[-1]}}" role="button">
              Download {{ post.title }}</a></p>
            <p class="text-center">Released on {{ post.date | date: "%B %-d, %Y" }}. 
              <br/>
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">See what's new!</a></p>          
            {% break %}
          {% endif %}  
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
-->

<!-- The old 1 version download: Uncomment below to make it active  -->
<!-- Iterates all the posts in order of appearance in the main page (by default
   sorted by most recent) and then all the tags until it finds a release tag
  - Download: Link must be https://github.com/SasView/sasview/releases/tag/v4.2.1 
  - The version comes from the post title
-->
<!--
<div class="row">  
  <div class="col-sm-12">
    <div class="jumbotron">
      <h3 class="text-center">Download The Latest Release SasView</h3>      
      {% for post in site.posts %}
        {% if post.tags contains "release" %}
          {% assign post_title = post.title | split: ' ' %}
          <p class="text-center"><a class="btn btn-primary btn-lg" href="https://github.com/SasView/sasview/releases/tag/v{{post_title[-1]}}" role="button">
            Download {{ post.title }}</a></p>
          <p class="text-center">Released on {{ post.date | date: "%B %-d, %Y" }}. 
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">See what's new!</a></p>
          {% break %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
-->

<!-- Highlight -->
{% for post in site.posts %}    
  {% for tag in post.tags %}
    {% assign tag_split = tag | split: " " %}    
    {% if  tag_split[0] == "highlight" %}
      {% capture now_unix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture highlight_date %}{{tag_split[1] | date: '%s'}}{% endcapture %}
      {% if highlight_date >= now_unix %}
      <div class="well">
        <h3 class="text-center"><u>{{ post.title }}</u>
          <div class="pull-right"><img src="{{ site.baseurl }}/img/pin.png"></div></h3>
        <p>{{ post.excerpt | strip_html | xml_escape | truncatewords: 15 }}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read more...</a></p>
      </div>
      {% endif %} 
    {% endif %}  
  {% endfor %}
{% endfor %}


<!-- Description -->
<p><strong>A SAS Community Project launched from the NSF DANSE effort</strong><br/>
SasView is a Small Angle Scattering Analysis Software Package, originally developed as part of the NSF DANSE project under the name SansView, now managed by an international collaboration of facilities. Feedback and contributions are welcome and encouraged.
</p>

<!-- Posts -->
<h1>News:</h1>
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ site.baseurl }}{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
