### Acknowledging SasView

If you found any SasView software package useful to your work please acknowledge its use in your publication as suggested
below and reference the specific software and version as noted on: _http://www.sasview.org/cite/_. Please also consider
letting us know by sending us the reference to your work, and we will add it to our list of [publications](/publications).
This will help us to ensure the long term support and development of the software.

> _This work benefited from the use of the SasView project, originally developed under NSF award DMR-0520547 and containing code developed with funding from the European Union's Horizon 2020 research and innovation programme under the SINE2020 project, grant agreement No 654000._
